body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

#wrapper {
    width: calc(1440px - 10rem);
    height: calc(900px - 10rem);
    background-color: #ffffff;
    box-shadow: 0 0 15px 2px black;
    border-radius: 25px;
}

#image {
    display: flex;
    height: 100%;
    width: 35%;
}

#leaves {
    height: 100%;
    width: 100%;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

#logo {
    background-color: black;
    display: flex;
    align-items: center;
    position: absolute;
    width: 23.3%;
    opacity: 50%;
    margin-top: 10%;    
}

#logo-text{
    color: white;
    font-weight: bold;
    margin-left: calc(0.5rem + 0.1vw);
    font-family: Norse;
    font-size: 150px;
}

#odin {
    width: 35%;
    margin: 10px;
    object-fit: cover;
}