body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

#wrapper {
    width: calc(1440px - 10rem);
    height: calc(900px - 10rem);
    background-color: #ffffff;
    box-shadow: 0 0 15px 2px black;
}

#container {
    display: flex;
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
}

#leaves {
    height: 100%;
    width: 35%;
}

#logo {
    background-color: black;
    display: flex;
    align-items: center;
    position: absolute;
    width: 23.5%;
    opacity: 50%;
    margin-top: 10%;    
}

#logo-text{
    color: white;
    font-weight: bold;
    margin-left: calc(0.5rem + 0.1vw);
    font-family: Norse;
    font-size: 150px;
}

#odin {
    width: 35%;
    margin: 10px;
}

#sections-container {
    width: 100%;
    background-color: #E5E7EB;
}

.section {
    width: 100%;
    height: 33%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 15px;
}

#provoker {
    width: fit-content;
    height: fit-content;
}

.italic {
    font-style: italic;
}

#section2 {
    background-color: white;
    box-shadow: 0px 3px 15px -2px rgba(0, 0, 0, .5);
}

#text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 15px;
    width: fit-content;
    height: fit-content;
}

#section3 {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#create-account {
    width: fit-content;
    height: fit-content;
    margin-top: 15px;
    margin-left: 15px;
    background-color: #596D48;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 15px;
    border: 0px;
}
#create-account:hover {
    cursor: pointer;
    color: white;
}

#login {
    width: fit-content;
    height: fit-content;
    background-color: #E5E7EB;
    color: #596D48;
    font-weight: bold;
    font-size: 30px;
    border: 0px;
}
#login:hover {
    cursor: pointer;
}

#forms1 {
    width: 100%;
    height: 75%;
    margin-top: 15px;
    margin-left: 15px;
}
#forms2 {
    width: 100%;
    height: 75%;
    margin-top: 15px;
} 

#first-name,
#last-name,
#email,
#number,
#password,
#confirm-password {
    width: fit-content;
    height: fit-content;
    padding: 3px;
    border-radius: 3px;
    font-size: 20px;
}
